*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: rgb(249, 242, 255);
}

h1{
    text-align: center;
    color: rgb(4, 4, 133);
    font-size: 60px;
    font-weight: 900;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#card{
    background-color: rgb(230, 219, 240);
    width: calc((100% / 3) - 60px);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

#name{
    text-align: center;
    color: rgba(16, 16, 177, 0.795);
}

#position{
    text-align: center;
    padding: 10px 0;
    color: rgb(85, 139, 255);
}

#photo{
    width: 85%;
    margin: auto;
    display: block;
    border-radius: 5px;
}